.job-card {
    background: #f4f4f4;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: flex-start;
    flex-wrap:wrap;
    text-decoration: none;
    color:#000;
}

.job-card-left{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  min-width:80%;
}

.job-card-left h3{
  word-break: break-all;
}


.job-card-right{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width:20%;
}

@media screen and (max-width:600px) {
  .job-card{
    flex-direction: column; 
  }

  .job-card-right{
    align-items: flex-start;
    min-width:100%;
  }

  .job-card-left{
    min-width: 100%;
  }
}

  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  /*flex flex-col items-start gap-3*/
  
  .job-details {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .job-skills {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .skill {
    background: #e0e0e0;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  .job-apply {
    text-align: right;
  }
  
  .apply-button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background: #0056b3;
  }
  