.company-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: calc(33.333% - 1rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#000;
  }
  
  .company-card img {
    max-width: 100px;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .company-card {
      width: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 480px) {
    .company-card {
      width: 100%;
    }
  }
  